<h2>admin</h2>
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "admins/shared/error_messages", resource: resource %>

 <div class="field">
      <%= f.label :last_name, "名前　　　　　　　　　　　（姓）　" %>
      <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
      <%= f.label :first_name, "（名）　" %>
      <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
 </div><br>

  <div class="field">
      <%= f.label :last_name_kana, "フリガナ　　　　　　　　　（セイ）" %>
      <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana" %>
      <%= f.label :first_name_kana, "（メイ）" %>
      <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %>
  </div><br>


  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  
  <div class="field">
      <%= f.label :postal_code, "郵便番号（ハイフンなし）" %>　　　　　
      <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %>
  </div><br>

  <div class="field member-address">
      <%= f.label :address, "住所" %>　　　　　　　　　　　　　　　
      <%= f.text_field :address, autofocus: true, autocomplete: "address", collection: JpPrefecture::Prefecture.all, :value_method => :name, include_blank: '都道府県' %>
  </div><br>

  <div class="field">
      <%= f.label :phone_number,"電話番号（ハイフンなし）" %>　　　　　
      <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number" %>
  </div><br>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録", class: "btn btn-success btn-lg center-block" %>
  </div>
<% end %>

<%= render "admins/shared/links" %>
